<div class="container-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap">
                    <p class="form-title">Register</p>
                    <form class="login">
                        <input [(ngModel)]="registerModel.Name" type="text" placeholder="Name" name="name" />
                        <p class="text-center error-message">{{errorModel.name}}</p>
                        <input [(ngModel)]="registerModel.Email" type="email" placeholder="Email" name="email" />
                        <p class="text-center error-message">{{errorModel.email}}</p>
                        <input [(ngModel)]="registerModel.Password" type="password" placeholder="Password" name="password" />
                        <p class="text-center error-message">{{errorModel.password}}</p>
                        <input [(ngModel)]="registerModel.ConfirmPassword" type="password" placeholder="Confirm password" name="confirmPassword" />
                        <p class="text-center error-message">{{errorModel.confirmPassword}}</p>
                        <p class="text-center error-message">{{errorMessage}}</p>
                        <input type="submit" (click)="register()" value="Sign Up" class="btn btn-success btn-sm" />
                        <div class="sign-up">
                            <div class="row">
                                <div class="col-md-12 sign-up-content text-center">
                                    <a [routerLink]="['/login']">I already have an account</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="posted-by"><img src="images/logo.png" alt="logo" class="hidden-xs circle-logo"></div>
    </div>
</div>