<div class="container-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap">
                    <p class="form-title">Sign In</p>
                    <form class="login">
                        <input type="email" placeholder="Email" />
                        <input type="password" placeholder="Password" />
                        <input type="submit" (click)="login()" value="Sign In" class="btn btn-success btn-sm" />
                        <div class="sign-up">
                            <div class="row">
                                <div class="col-md-12 sign-up-content text-center">
                                    <a [routerLink]="['/register']">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="posted-by"><img src="images/logo.png" alt="logo" class="hidden-xs circle-logo"></div>
    </div>
</div>