<div class="display-table">
    <div class="row display-table-row">
        <c-nav class="display-table-cell"></c-nav>
        <div class="col-md-10 col-sm-11 display-table-cell v-align">
            <c-header></c-header>
            <div class="user-dashboard">
                <div class="row">
                    <div class="col-sm-12">
                        <p><a href="#" class="add-btn" data-toggle="modal" data-target="#add_modal">Add Child</a></p>
                    </div>
                </div>
                <div class="row">
                    <div *ngFor='let kid of kids' class="col-lg-3 col-sm-6">
                        <div class="card hovercard">
                            <div [class.cardheader-girl]="kid.Gender === 'Female'" [class.cardheader-boy]="kid.Gender === 'Male'">
                            </div>
                            <div class="avatar">
                                <img alt="" src="{{kid.PhotoUrl}}">
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a [routerLink]="['/users/' + userId + '/kids/' + kid.id]">{{kid.Name}}</a>
                                </div>
                                <div *ngFor="let path of kid.Paths" class="desc">{{path.Title}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="add_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Add Child</h4>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Name" name="name">
                <div class="radio">
                    <label><input type="radio" checked value="male" name="gender">Boy</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="female" name="gender">Girl</label>
                </div>
                <input type="file" accept=".jpg,.png,.jpeg" placeholder="Photo" name="photo">
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
                <button type="button" class="add-btn" data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>